.resourceshop {
    border-radius: 50px;
    text-align: center;
    width: 5em;
}


#message {
    border : .2em solid green;
border-radius: 50px;
background-color: rgba(255, 255, 255, 0.493);
text-align: center;
width: 26em;
font-size: small;
}

#title{
    text-align: center;
}

#woodshop{
    background-color: rgba(221, 90, 14, 0.603);
    border: .2em solid rgba(230, 90, 25, 0.685);
}

#rockshop{

    background-color: rgba(197, 181, 172, 0.603);
    border: .2em solid rgba(88, 78, 73, 0.685);
}
