.circle {
    width: 200px;
    height: 200px;
    border: 20px solid;
    border-radius: 45%;
    font-size: 6em;
    padding: .3em;
    margin: .2em;
    user-select: none;
}

#red{
    background-color: rgb(243, 22, 22);
}

#blue{
    background-color: rgb(74, 36, 243);
}

#yellow{
    background-color: yellow;
}

#red:hover{
    background-color: rgb(255, 255, 255);
}#blue:hover{
    background-color: rgb(255, 255, 255);
}#yellow:hover{
    background-color: rgb(255, 255, 255);
}